button{
    width: 100px;
    height: 50px;
    font-size: 15px;
    border-radius: 5px;
    color:black;
    transition: 0.5s;
}
button:hover{
    color: white;
    border-color: white;
}

.btn{
    width:100%;
    display: flex;
    justify-content: center;
}

.btnF{
    background-color: green;
    margin-right: 10px;
}
.btnS{
    background-color: red;
    margin-left: 10px;
}

.txt{
    font-size: 30px;
    width:100%;
    text-align: center;
    margin-top: 10px;
}